# Project-specific
groovy/

# sbt
lib_managed
project/project
target

# Worksheets (Eclipse or IntelliJ)
*.sc

# IntelliJ
.idea
.imi

# ENSIME
.ensime
.ensime_lucene
.ensime_cache

# Mac
.DS_Store

# Log files
*.log
